doctype html
html
		head
			title Илюшенко Аня
			link(rel="stylesheet", href="css/fonts.css")
			link(rel="stylesheet", href="css/main.css")
			link(rel="stylesheet", href="css/lostschooltest.css")
			link(rel="stylesheet", href="css/animation.css")
			link(rel="stylesheet", href="css/lostschooltest-codes.css")
			link(rel="stylesheet", href="css/lostschooltest-embedded.css")
		body
			div.wrapper
				header.header
					div.container
						div.header_logo
							a(href="" class="logo")
								img(src="img/logo.jpg", alt="Logo")
							div.logo_name Илюшенко Анна Анатольевна
							div.logo_email ilushenko.anna@yandex.ru
						div.header_social
							ul.soc_item
								li.soc_git
									a(href="")
										i.icon-git
								li.soc_vk
									a(href="")
										i.icon-sk
								li.soc_sk
									a(href="")
										i.icon-vk
				section.s_about
					div.top_text
						h1 О будущем ученике
						p Ребятам из Loftschool будет полезно узнать немного обо мне
					div.section_content
						div.container
							div.row
								div.col-md-6.hello
									div.hello_pic
										img(src="img/icons/hello.svg", alt="")
									div.hello_descr
										h2 Немного обо мне						
										p Я живу в Новосибирске, мне 23 года. Высшее образование - НГУЭУ, специальность "Реклама". Во время учебы проходила курс "Веб-дизайна" в течение полугода, на котором сделала свой первый сайт в 2012 году. К Веб-разработке я вернулась в прошлом году, когда сменила профессию и стала разрабатывать сайты. За прошедший год я сделала несколько сайтов, которые можно посмотреть здесь: 
											a(href="http://illushn.ru" target="_blank") www.illushn.ru
								div.col-md-6.experience
									div.hello_pic
										img(src="img/icons/experience.svg", alt="")
									div.hello_descr
										h2 Мой опыт в разработке
										p Свой первый сайт я сделала на шаблоне Wordpress. Затем я освоила Layers WP и сделала большую часть сайтов в этом фреймворке. Недавно я начала изучать разработку сайтов "с нуля". Последний мой сайт - admin.itprospekt.ru. Использовала gulp, sass, html5, css3, bootstrap,  bower и т.д. На данный момент мне не хватает знаний и опыта для свободного владения инструментами веб-разработки. Я самостоятельно обучалась по урокам на Ютубе.
				section.s_course
					div.top_text_course
						h1 Курсы на loftblog
						p которые мне помогут в выполнении этого задания
					div.section_course
						div.container
							div.row
								div.col-md-3.course_grid
									div.course_img
										img(src="img/course_1.jpg", alt="")
									div.course_text
										h2 Основы JavaScript
										p Видеокурс о одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.
										strong
											img(src="", alt="")
											p 24 урока (6 часов 46 минут)
									div.course_done
										p Посмотрел


			footer.footer
				div.container
					div.row
						div.footer_text
							p А это футер, который прибит к низу окна браузера.







